/* .mb-10vh-mob {
  margin-bottom: 3vh;
}

.ft-10 {
  font-size: 35px;
}

.ft-mob {
  font-size: 12px !important;
}

.mt-mob {
  margin-top: 2vh;
}

.pos-2 {
  position: absolute;
  top: 340vh;
}

.ft-33-res {
  font-size: 12px !important ;
}

.mb-3 {
  margin-bottom: 1.5vh;
}

.anim-foot {
  transform: translateY(100vh);
  animation: foot 1s forwards 1;
}

@keyframes foot {
  to {
    transform: translateY(-5vh);
  }
}

.ft-mob-h {
  font-size: 20px;
}

.btn-span span {
  padding: 0px 10px 0px 10px;
}

.btn-span input {
  height: 12px !important;
  /* padding-top: 1.82 !important; */
  /* padding-bottom: 1.82 !important; */
}

.ft-mob-fo {
  font-size: 12px;
}

.m-nono {
  margin-top: 2vh;
}

.h-70 {
  height: 77vh;
}

.mtt-mob {
  margin-top: 10vh !important;
} */
